<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286563725017-9sl2h96tqf8u21k3uqoa13adj7sdek26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286563725017-9sl2h96tqf8u21k3uqoa13adj7sdek26</string>
	<key>API_KEY</key>
	<string>AIzaSyCo4YVeBgqcR29hGYJNDVSqTXWkWg8SB3s</string>
	<key>GCM_SENDER_ID</key>
	<string>286563725017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kayndrexsphere</string>
	<key>PROJECT_ID</key>
	<string>kayndrexsphere-ec1d4</string>
	<key>STORAGE_BUCKET</key>
	<string>kayndrexsphere-ec1d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286563725017:ios:f480b6cd5cef9076b798c8</string>
</dict>
</plist>